Importing Pandas into Python and Reading Data (CSV)

In [1]:
import pandas as pd
# I will use 'df' to reference the dataset
df = pd.read_csv('pokemon_data.csv')

<font size="6">Reading the Data</font>

<font size="5">Headers</font>

In [3]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

<font size="5">Printing out the first couple of rows</font>

In [2]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
## You can also pick the amount of rows
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

<font size="5">Read specific columns</font>

In [4]:
df['Name'].head(5)

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [7]:
## If you want to get a specific indexes, you can add [?:?]
df['Name'][0:10]

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

<font size="5">If you want to get more than one column, you can use double brackets</font>

In [5]:
## The double brackets before and after allow you to pcik as many columns as you want in any order
df[['Name', 'Type 1', 'Generation']].head(5)

                    Name Type 1  Generation
0              Bulbasaur  Grass           1
1                Ivysaur  Grass           1
2               Venusaur  Grass           1
3  VenusaurMega Venusaur  Grass           1
4             Charmander   Fire           1

In [6]:
## Same as above, just a different order
df[['Name', 'Generation', 'Type 1']].head(5)

                    Name  Generation Type 1
0              Bulbasaur           1  Grass
1                Ivysaur           1  Grass
2               Venusaur           1  Grass
3  VenusaurMega Venusaur           1  Grass
4             Charmander           1   Fire

<font size="5">You can still grab specific indexes even if you add extra columns</font>

In [10]:
df[['Name', 'Type 1', 'Generation']][5:13]

                         Name Type 1  Generation
5                  Charmeleon   Fire           1
6                   Charizard   Fire           1
7   CharizardMega Charizard X   Fire           1
8   CharizardMega Charizard Y   Fire           1
9                    Squirtle  Water           1
10                  Wartortle  Water           1
11                  Blastoise  Water           1
12    BlastoiseMega Blastoise  Water           1

<font size="5">Read each row</font>

In [11]:
df.iloc[3]

#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

In [12]:
## You can pick more than one row to read as well
df.iloc[3:5]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
## The below code lets you iterrate through rows using a for loop. Apparently it is very useful.
for index, row in df.iterrows():
    print(index, row['Name'])

In [8]:
## This works the same as above but it does not look very good (and doesn't seem useful really)
for index, row in df.iterrows():
    print(index, row[['Name', 'Generation']])

<font size="5">Getting specifics from the rows</font>

In [10]:
## Using this allows you to print out entire rows from the data that is specific to what you need
df.loc[df['Type 1'] == 'Water'].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False

In [16]:
## Integars work as well
df.loc[df['HP'] == 1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [17]:
## You can also get multiple conditions
df.loc[(df['Type 1'] == 'Water') & (df['Generation'] == 3)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
280,258,Mudkip,Water,NaN,50,70,50,50,50,40,3,False
281,259,Marshtomp,Water,Ground,70,85,70,60,70,50,3,False
282,260,Swampert,Water,Ground,100,110,90,85,90,60,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False
294,271,Lombre,Water,Grass,60,50,50,60,70,50,3,False
295,272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
302,279,Pelipper,Water,Flying,60,50,100,85,70,65,3,False
347,318,Carvanha,Water,Dark,45,90,20,65,20,65,3,False
348,319,Sharpedo,Water,Dark,70,120,40,95,40,95,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
373,341,Corphish,Water,NaN,43,80,65,50,35,35,3,False
374,342,Crawdaunt,Water,Dark,63,120,85,90,55,55,3,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
382,350,Milotic,Water,NaN,95,60,79,100,125,81,3,False
401,366,Clamperl,Water,NaN,35,64,85,74,55,32,3,False
402,367,Huntail,Water,NaN,55,104,105,94,75,52,3,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
404,369,Relicanth,Water,Rock,100,90,130,45,65,55,3,False
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
421,382,Kyogre,Water,NaN,100,100,90,150,140,90,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True

<font size="6">Sorting/Describing Data</font>

<font size="5">Describing the data</font>

In [18]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

<font size="5">Sorting the data</font>

In [11]:
## To sort by alphabetical order, use the sort_values() function and pass in the column that you want to sort
df.sort_values('Name').head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [12]:
## To sort in reverese alphabeticl order, pass in the following
df.sort_values('Name', ascending=False).head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False

In [13]:
## You can also use pass in multiple columns. This will sort in order of columns passed
df.sort_values(['Type 1', 'Attack']).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False
457,412,Burmy,Bug,NaN,40,29,45,29,45,36,4,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False

In [14]:
## You can specify which columns you want ascending and decending
## 1 obviously means True while 0 means False
df.sort_values(['Name', 'Attack'], ascending=[1,0]).head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False

<font size="6">Making Changes to the Data</font>

<font size="5">Adding a column</font>

In [15]:
## Let's say you want to add all the values in you data, this is how
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

## Now we print it
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

<font size="5">Dropping a column</font>

In [24]:
## You can remove a column with the drop function
## In order for this to work, you are going to need to set it to a varible (which could be the same)
df = df.drop(columns=['Total'])

## Print to show it is gone
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

<font size="5">Moving a column</font>

In [25]:
## Adding it back the so we can move it
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [26]:
## Making a new varible (with the same name) allows you to order the columns as ou please
df = df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 'Generation', 'Legendary']]

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False

<font size="6">Saving Data (Exporting)</font>

<font size="5">To CSV File</font>

In [27]:
## If it takes you to the next cell, that means it should have worked
df.to_csv('modified.csv')

In [28]:
## If you don't want to the indexes to be in the data, pass in the index=False argument
df.to_csv('modified.csv', index=False)

<font size="5">To Excel File</font>

In [16]:
## This will save the file to an Excel file
df.to_excel('modified.xlsx', index=False)

<font size="5">To TXT File</font>

In [ ]:
## This will save the file to a text file
df.to_txt('modified.csv', index=False, sep='\t')

<font size="6">Filtering Data</font>

<font size="5">"And" sign</font>

In [ ]:
## As shown earlier, you can get mulitple conditions when filtering data
df.loc[(df['Type 1'] == 'Grass') & (df['Legendary'] == 1)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,600,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,600,4,True
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,580,5,True

In [ ]:
## Another example
df.loc[(df['Type 1'] == 'Fire') & (df['HP'] > 100) & (df['Speed'] < 75)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,528,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,540,5,False

<font size="5">"Or" sign</font>

In [17]:
## You can also us | as the "or" sign
df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)].head(15)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
31,26,Raichu,Electric,NaN,60,90,55,90,80,110,1,False,485
33,28,Sandslash,Ground,NaN,75,100,110,45,55,65,1,False,450
56,51,Dugtrio,Ground,NaN,35,80,50,50,70,120,1,False,405
58,53,Persian,Normal,NaN,65,70,60,65,65,115,1,False,440
70,65,Alakazam,Psychic,NaN,55,50,45,135,95,120,1,False,500
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
81,75,Graveler,Rock,Ground,55,95,115,45,45,35,1,False,390
82,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False,495
86,80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,False,490
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590

<font size="5">Creating New Dataframe</font>

In [ ]:
## You can simply create a new variable which will give you a new df
## Using the above table to create a new df
new_df = df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)]

new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [ ]:
## You can also save the new df to a csv at any point

#new_df.to_csv('filtered.csv')

<font size="5">Reseting Indexes</font>

In [ ]:
## As you can see the new df kept the old indexes. We can reset them with this function

new_df = new_df.reset_index()

## Printing 
new_df.head()

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [ ]:
## It will save the old index as a new column but as shown earlier, we can get rid of it if we dont want it

new_df = new_df.drop(columns=['index'])

## Printing
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

In [ ]:
## You can also do within the function itself. Let's see how

## Bringing up df
new_df = df.loc[(df['Speed'] > 105) | (df['Defense'] > 100)]

## Using new arguments in function
new_df.reset_index(drop=True, inplace=True)

# The "drop" argument removes the index column
# The "inplace" argument allows you to not create a new variable

## Printing
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
1,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,False
2,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,630,1,False
3,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,495,1,False
4,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False

<font size="5">Name Conditions</font>

In [19]:
## You can filter names as well
## Showing the first 10 rows
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700

In [20]:
## To get the reverse of this (rows that do not contain 'Mega'), you add a squigly line
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [40]:
## Going to import Regulary Expressions Library to find certain texual patterns
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [41]:
## You can ignore capitalization by passing in a flag argument
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [42]:
## In this example, it is saying to find rows in the name column that start with 'pi' (thats what the ^ is for), then the next letter can be anywhere from a-z, then the * means it can be 0 characters or more
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,251,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,349,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,479,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,579,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,320,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,500,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,600,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,205,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,290,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,450,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,314,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,264,5,False

<font size="5">Conditional Changes</font>

In [48]:
## Changing the name of certain attributes in the data
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

## Printing an example of a fire type pokemon
df.loc[df['Name'] == 'Charmander']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,309,1,False

In [49]:
## Another example
df.loc[df['Type 1'] == 'Grass', 'Type 1'] = 'Leaf'

## Printing
df.head(5)

## As you can see, all of the grass type pokemon are now labeled as 'Leaf' in the Type 1 column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Leaf,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Leaf,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Leaf,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Leaf,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,309,1,False

In [50]:
## Changing back to the original df
df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
df.loc[df['Type 1'] == 'Leaf', 'Type 1'] = 'Grass'

## Printing
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [51]:
## You can also change a column while referencing another
## For example, let's make all of the fire type pokemon legendary
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

## Printing all fire type pokemon
df.loc[df['Type 1'] == 'Fire']

## As you'll see, they are now all legendary

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,True
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,405,1,True
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,534,1,True
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,634,1,True
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,634,1,True
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,299,1,True
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,505,1,True
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,350,1,True
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,555,1,True
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,410,1,True
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,500,1,True
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,495,1,True
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,525,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,580,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,309,2,True
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,405,2,True
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,534,2,True
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,250,2,True
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,410,2,True
259,240,Magby,Fire,NaN,45,75,37,70,55,83,365,2,True
263,244,Entei,Fire,NaN,115,115,85,90,75,100,580,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,680,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,310,3,True
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,405,3,True
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,530,3,True
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,630,3,True
352,322,Numel,Fire,Ground,60,60,40,65,45,35,305,3,True
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,460,3,True
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,560,3,True
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,470,3,True
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,309,4,True
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,405,4,True
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,534,4,True
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,540,4,True
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,600,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,308,5,True
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,418,5,True
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,528,5,True
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,316,5,True
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,498,5,True
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,315,5,True
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,480,5,True
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,540,5,True
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,484,5,True
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,307,6,True
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,409,6,True
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,534,6,True
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,382,6,True
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,499,6,True
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369,6,True
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

<font size="5">Aggregate Statistics (Group By)</font>

In [62]:
## Let's get the original df back with the Total column
new_df = pd.read_csv('pokemon_data.csv')
new_df['Total'] = new_df['HP'] + new_df['Attack'] + new_df['Defense'] + new_df['Sp. Atk'] + new_df['Sp. Def'] + new_df['Speed']
new_df = new_df[['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 'Generation', 'Legendary']]


## Printing to check
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,700,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600,6,True

In [63]:
## Let's say you wanted to see the average of all the columns by each type of pokemon. Here's how
new_df.groupby(['Type 1']).mean()

<ipython-input-63-85ff0dd4a09e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714

In [65]:
## Now we can sort it using the sort function we learned earlier
new_df.groupby(['Type 1']).mean().sort_values('Defense')

<ipython-input-65-9cd1d2dc6311>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Defense')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148

In [67]:
## We can flip it as well
new_df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

<ipython-input-67-ad62edde53a8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408

In [69]:
## Another example
new_df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

<ipython-input-69-537489888cff>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824

In [71]:
## You can also count how many of something is in each column
## First, we'll add a new count column
new_df['count'] = 1

## Next, we'll use the count function to count how many there are in each column
new_df.groupby(['Type 1']).count()['count']

## This will give you the number of each type 1 there are in the df

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [72]:
## You are also able to group by multiple parameters
new_df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

<font size="6">Working with large amounts of Data</font>

<font size="5">Loading in Chunks of Data at a time</font>

In [21]:
## Here's how to load in a certain amount of rows at a time (this example uses 5 rows)
for df in pd.read_csv('pokemon_data.csv', chunksize=5):
    print('CHUNK')
    print(df)